div#mSidebar {
    background-color: #DFBEA6;
    top:0;
    right: -40vw;
    width: 40vw;
    padding:10px;
    position:fixed;
    height:100%; 
    z-index:10;
    transition: right 0.5s;
}

div#hMenu:hover + div#mSidebar{
    right:40px;
    transition: right 0.5s;
} 

div#mSidebar:hover {
    right: 0;
    transition:right 0.5s;
}



.toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .menubar-content {
    padding: 20px;
  }
  
  .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .menubar-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menubar-content li {
    margin-bottom: 10px;
    color: white;
    font-size: 18px;
  }

  .closeBtn:hover {
    color:#fff;
  }

  .xBtnClose:hover{
    fill:#FFF;
  }

  .mainMenuList li{
    margin: 1.3em auto;
  }
  .mainMenuList li:hover a{
    text-decoration:underline;
  }