div#mSidebar {
    background-color: #DFBEA6;
    top:0;
    right: -35vw;
    width: 35vw;
    padding:10px;
    position:fixed;
    height:100%; 
    z-index:100000;
    transition: right 0.5s;
    padding-left:12px;
}

div#hMenu:hover + div#mSidebar, .hovered {
    right:0px;
} 

div#mSidebar:hover {
    right: 0;
    transition:right 0.5s;}

div#navigationBar{
  top:0;
}
.toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .menubar-content {
    padding: 20px;
  }
  
  .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .menubar-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  
  .menubar-content li {
    margin-bottom: 10px;
    color: white;
    font-size: 18px;
  }
  .menubar-content ul li:hover {
    text-decoration: underline;
  }

  div#mSidebar ul li:hover{
    text-decoration: underline;
  }

  @media screen and (max-width: 600px) {
    div#mSidebar {
      right: -85vw;
      width: 85vw;
      padding-left:18vw;
    }
  }