#root {
  width: 100%;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #213547);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #FFFFFF);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#navigationBar {
  background-color: #FFFFFF;
}

#footerBar,
#footerBar a {
  color: #FFF;
  background-color: #002d2e;
}

.hmbrgr {
  background: url('./assets/Hamburger.svg') center no-repeat;
  background-size: contain;
  width: 100px;
  padding: 0px;
  cursor: pointer;
}

.hmbrgr:hover {
  background-image: url('./assets/Hamburger-peach.svg')
}

.sidebar-container {
  background-color: #DFBEA6;
}

.sidebar-active {
  right: 0;
  transition: right 0.25s;
}

.sidebar-hidden {
  right: -490px;
  transition: right 0.25s;
}

mark {
  margin: 0 0.1em;
  padding: 0.01em 0.1em;
  border-radius: 0.4em 0.1em 0.3em 0.1em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    #e5c996,
    #e5c996 4%,
    #e5c996
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

.realistic-marker-highlight{
  position:relative;
  color:#002d2e;
  margin-left: 0;
  padding-right:0.3em;
  background-repeat:repeat-y;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.realistic-marker-highlight:before{
  content:"";
  background-color:#e5c996;
  width:100%;
  height:1.3em;
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  left:-0.25em;
  top:-0.05em;
  padding:0.30em 0.30em;
}
.svg-filters {
  position:absolute; /*remove from page flow*/
  top:-999em; /*and hide offscreen*/
}

.text-highlight {
background-image: url(/paint-brush/brush-9.svg);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-repeat: no-repeat;
  background-position: 00% 50%;
  background-size: cover;
  padding: 0 0.2em;
  display: inline;
}