@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:'LibreCaslonCondensed-Medium';
  src: local('LibreCaslonCondensed-Medium'), url('./fonts/LibreCaslonCondensed-Medium.otf'), format('otf');
}

:root {
  font-family: 'LibreCaslonCondensed-Medium',serif;  
  color-scheme: light dark;
  color: #002d2e;
  background-color: #edf4f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:20px;
}

html{
  width:100%;
  margin:0;
  padding:0;
}

a {
  font-weight: normal;
  color: #213547;
  text-decoration: inherit;
  cursor:pointer;
}
a:hover {
  color: #002d2e;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 100px !important;
  line-height: auto !important;
}

button, .button {
  border: none;
  padding: 0.6em 1.2em;
  font-weight: 100;
  font-family: inherit;
  cursor: pointer;
  background-color: #dfbea6; /* Peach */
  color: #002d2e;
  font-size:1.5em;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.30s;
}
button:hover, .button:hover {
  background-color: #002d2e;
  color: #FFF;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1{
  padding:1em;
  font-size: 100px;
}

h2{
  font-size:72px;
}

h3{
  font-size: 40px;
}

h4{
  font-size: 28px;;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #edf4f3;
  }
  a:hover {
    color: #dfbea6;
  }
  button {
    background-color: #edf4f3;
  }
}


.highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #e5c996;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 5px 3px 3px 5px;
  z-index:0;
}